/LangTrainerFrontendWinFormsTest/obj/Debug/net7.0
/LangTrainerFrontendWinFormsTest/obj/Debug/net7.0-windows
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows/zh-Hant
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows/zh-Hans
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows
/LangTrainerFrontendWinFormsTest/obj
