/LangTrainerFrontendWinFormsTest/obj/Debug/net7.0
/LangTrainerFrontendWinFormsTest/obj/Debug/net7.0-windows
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows/zh-Hant
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows/zh-Hans
/LangTrainerFrontendWinFormsTest/bin/Debug/net7.0-windows
/LangTrainerFrontendWinFormsTest/obj
/.vs/LangTrainerFrontendWinForms/v17/.futdcache.v2
/.vs/LangTrainerFrontendWinForms/v17/.suo
/.vs/LangTrainerFrontendWinForms/FileContentIndex
/.vs/ProjectEvaluation
/.vs/LangTrainerFrontendWinForms/DesignTimeBuild
/.vs/LangTrainerFrontendWinForms/v17
