/obj/Debug/net7.0-windows/ref
/obj/Debug/net7.0-windows
/bin/Debug/net7.0-windows
/obj
/.vs/LangTrainerFrontendWinForms/DesignTimeBuild
/.vs/LangTrainerFrontendWinForms/FileContentIndex
/.vs/LangTrainerFrontendWinForms/v17
/.vs/ProjectEvaluation
